@import "tailwindcss";

@theme {
  --color-primary: #f9a8d4;
  --color-secondary: #a78bfa;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .bg-size-200 {
    background-size: 200% auto;
  }
  .bg-pos-0 {
    background-position: 0% center;
  }
  .bg-pos-100 {
    background-position: 100% center;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
